#root {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 13.6rem; /* height of your footer */
}

:root {
  --page-margin: 2%;
  --content-radius: 30px;
  --content-margin: 30px 0px;
  --eerie-black: #252422;
  --black-olive: #403d39;
  --pale-silver: #ccc5b9;
  --floral-white: #fffcf2;
  --flame: #eb5e28;
  --flame-light: #e58d4a;
  --space-mono-family: "Space Mono", monospace;
  --poppins-bold-family: "Poppins", sans-serif;
  --subheading-font-size: 2.5rem;
  --flex-sub-card: 1 1 0;
  --transition-hover: 0.75s;
}

html {
  background-color: var(--eerie-black);
  font-family: var(--space-mono-family);
  color: var(--floral-white);
  scroll-behavior: smooth;
}

/* text link stylings */
a {
  text-decoration: none;
  color: var(--floral-white);
}

/* general font stylings */
h1,
h2,
h3 {
  font-family: var(--poppins-bold-family);
  color: var(--floral-white);
  text-transform: uppercase;
}

button {
  outline: none;
  border: none;
  font-family: var(--poppins-bold-family);
}

.eerie-black-text {
  color: var(--eerie-black);
}

.black-olive-text {
  color: var(--black-olive);
}

.pale-silver-text {
  color: var(--pale-silver);
}

.flame-text {
  color: var(--flame);
}

.header-content-container {
  max-width: 1440px;
  margin: auto;
}

.btn-general {
  background-color: var(--flame);
  text-align: center;
  padding: 1rem;
  border-radius: var(--content-radius);
}

.btn-general:hover,
.btn-general:focus {
  background-color: var(--floral-white);
  color: var(--black-olive);
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                 modal stuff                                */
/* -------------------------------------------------------------------------- */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  justify-content: center;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 200px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: rgb(235, 94, 40);
  background: linear-gradient(
    90deg,
    rgba(235, 94, 40, 1) 0%,
    rgba(229, 141, 64, 1) 100%
  );
}

/* -------------------------------------------------------------------------- */
/*                            header and navigation                           */
/* -------------------------------------------------------------------------- */

.site-header {
  margin: var(--page-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-initial-logo {
  height: 60px;
}

/* navigation for screens below 600px */
@media only screen and (max-width: 800px) {
  .site-header {
    flex-direction: column;
  }
  .navigation-menu {
    font-size: 0.75rem;
    justify-content: space-around;
  }
}

/* logo with initials hover state */
.svg-initial-logo path {
  transition: fill var(--transition-hover) ease;
}

.svg-initial-logo:hover path,
.svg-initial-logo:focus path {
  fill: var(--floral-white);
}

/* navigation */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: var(--flame);
  border-radius: var(--content-radius);
  padding: 2rem;
  font-family: var(--poppins-bold-family);
  text-transform: uppercase;
}

.nav-item {
  margin: 0px 1vw;
}

/* navigation hover and focus */
.nav-item:hover a,
.nav-item:focus a {
  transition: color var(--transition-hover) ease;
  color: var(--eerie-black);
}

/* hero img */
main {
  margin: var(--page-margin);
}

.non-active-link {
  transition: all var(--transition-hover);
}

.active-link {
  padding: 1rem;
  border-radius: var(--content-radius);
  transform: translateY(-2px);
  box-shadow: 0 0 10px var(--black-olive);
  background-color: var(--floral-white);
  color: var(--black-olive);
  transition: all var(--transition-hover);
}

/* -------------------------------------------------------------------------- */
/*                             hero image section                             */
/* -------------------------------------------------------------------------- */

.hero-img-section {
  display: flex;
  justify-content: center;
}

.hero-img-container .headshot-img {
  border-radius: var(--content-radius);
  max-width: 80vw;
}

.hero-img-container {
  position: relative;
}

.hero-img-title {
  position: absolute;
  bottom: 22px;
  left: 20px;
  max-width: 22vw;
}

/* about me section */
.about-me-section {
  margin: var(--content-margin);
}
.slogan-bubble-container {
  background-color: var(--flame);
  border-radius: var(--content-radius);
  padding: 10px;
  width: 331px;
  min-height: 188px;
}

.slogan-text {
  margin: auto;
  font-size: var(--subheading-font-size);
  line-height: 3.5rem;
}

.about-me-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about-me-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-text-container {
  max-width: 767px;
}

/* about me margin below 900px */
@media only screen and (max-width: 900px) {
  .about-me-text-container {
    margin: 0px 5vw;
  }
}

/* -------------------------------------------------------------------------- */
/*                              featured projects                             */
/* -------------------------------------------------------------------------- */

.featured-projects {
  margin: 0px 2vw;
}

.project-grid-container > .project-cards-container > .general-card-img {
  max-width: 30rem;
}
.general-card-img {
  height: 100%;
  width: 100%;
  border-radius: var(--content-radius);
}

.first-project-container {
  grid-area: first;
}

.second-project-container {
  grid-area: second;
}

.project-grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "first second";
}

/* cards hover and focus states */
.project-cards-container:hover #general-card-title-id h2,
.project-cards-container:focus #general-card-title-id h2 {
  transition: color var(--transition-hover) ease;
  color: var(--black-olive);
}

.project-cards-container:hover #general-card-title-id,
.project-cards-container:focus #general-card-title-id {
  transition: background-color var(--transition-hover) ease;
  background-color: var(--floral-white);
  color: var(--black-olive);
  cursor: pointer;
}

/* project card and portfolio cards links stylings */

.project__live-application-link,
.project__github-repo-link,
.portfolio-cards__deployed-link,
.portfolio-cards__github-link {
  font-size: 2rem;
  background-color: var(--flame);
  border-radius: var(--content-radius);
  width: fit-content;
  padding: 5px;
  z-index: 9999;
  position: relative;
  transition: all var(--transition-hover) ease;
}

.project__live-application-link,
.project__github-repo-link {
  top: -738px;
}

.project__live-application-link,
.portfolio-cards__deployed-link {
  left: 10px;
}

.project__github-repo-link,
.portfolio-cards__github-link {
  left: 30px;
}

.project__live-application-link:hover,
.project__github-repo-link:hover,
.portfolio-cards__deployed-link:hover,
.portfolio-cards__github-link:hover {
  background-color: var(--floral-white);
  color: var(--black-olive);
}

@media only screen and (max-width: 1010px) {
  .project-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "second";
  }
}

@media only screen and (max-width: 498px) {
  .featured-projects {
    margin: 0 10vw;
  }

  .main-card-tech-descriptor {
    margin-top: 0;
    font-size: 0.7rem;
  }

  .main-card-heading {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .project__live-application-link,
  .project__github-repo-link {
    top: -500px;
  }
}

/* -------------------------------------------------------------------------- */
/*                             featured portfolio                             */
/* -------------------------------------------------------------------------- */

.featured-portfolio {
  margin: 0px 2vw 3rem 2vw;
}

/* grid setup for featured portfolio*/
.first-card-container {
  grid-area: first;
}

.second-card-container {
  grid-area: second;
}

.third-card-container {
  grid-area: third;
}

.fourth-card-container {
  grid-area: fourth;
}

.fifth-card-container {
  grid-area: fifth;
}

.portfolio-cards-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "first second third";
  max-width: 98vw;
}

.main-card-container {
  max-height: 372px;
}

.portfolio-cards__deployed-link,
.portfolio-cards__github-link {
  top: -461px;
}

/* cards title bubbles */
.general-card-title {
  background-color: var(--flame);
}

/* cards hover and focus states */
.portfolio-cards-general-container:hover #general-card-title-id h2,
.portfolio-cards-general-container:focus #general-card-title-id h2 {
  transition: color var(--transition-hover) ease;
  color: var(--black-olive);
}

.portfolio-cards-general-container:hover #general-card-title-id,
.portfolio-cards-general-container:focus #general-card-title-id {
  transition: background-color var(--transition-hover) ease;
  background-color: var(--floral-white);
  color: var(--black-olive);
}

/* general card stylings */

.main-card-title-container {
  border-radius: var(--content-radius);
  width: fit-content;
  padding: 5px;
  position: relative;
  top: -125px;
  left: 10px;
  z-index: 9999;
}

/* tablet settings and mobile settings for portfolio cards */
@media only screen and (max-width: 1000px) {
  .portfolio-cards-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "first"
      "second"
      "third";
  }

  .main-card-container {
    max-width: 372px;
  }
}

/* mobile settings for portfolio section */
@media only screen and (max-width: 666px) {
  .portfolio-cards-container {
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 resume page                                */
/* -------------------------------------------------------------------------- */

.resume-page-container {
  margin: 0px 2vw 3rem 2vw;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.resume-container {
  align-self: flex-start;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.devicons {
  font-size: 4rem;
  display: flex;
  gap: 2rem;
  flex-flow: wrap;
}

@media only screen and (max-width: 840px) {
  .resume-page-container {
    flex-direction: column;
  }
}

/* -------------------------------------------------------------------------- */
/*                                contact form                                */
/* -------------------------------------------------------------------------- */

.contact-container {
  margin: 0px 2vw 3rem 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-container__input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.contact-container__input:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

.contact-container__label {
  margin-top: 1rem;
}

.contact-container__textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.contact-container__textarea:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

.contact-container__send-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container__send-btn {
  border: none;
}

.submit-button {
  font-family: var(--poppins-bold-family);
  font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                               footer section                               */
/* -------------------------------------------------------------------------- */

.site-footer {
  background-color: #eb5e28;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-content-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* contact me section */
.contact-section {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* e-mail link hover state */

.email-link {
  color: var(--pale-silver);
}

.email-link:hover,
.email-link:focus {
  transition: color 1s ease;
  color: var(--floral-white);
}

/* socials logos */
.socials-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

#github-svg path,
#linkedin-svg path,
#twitter-svg path,
#spotify-svg path {
  transition: fill var(--transition-hover);
}

/* social logos hover & focus states */
#github-svg:hover path,
#github-svg:focus path,
#linkedin-svg:hover path,
#linkedin-svg:focus path,
#twitter-svg:hover path,
#twitter-svg:focus path,
#spotify-svg:hover path,
#spotify-svg:focus path {
  fill: var(--floral-white);
}

.github-link-container,
.linkedin-link-container,
.twitter-link-container,
.spotify-link-container {
  max-width: fit-content;
  margin: 0px 10px;
}

/* return to homepage logo link */
.white-logo-link-container {
  align-self: center;
}

.white-logo-svg {
  max-height: 90px;
}

/* phones footer layout settings */

@media only screen and (max-width: 550px) {
  .footer-content-container {
    flex-direction: column;
  }

  .white-logo-link-container {
    margin-top: 50px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 error page                                 */
/* -------------------------------------------------------------------------- */

#error-page {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
